.App {
    --header_height: 60px;
    margin: 0 auto;
    max-width: 1280px;

}

.hw {


}

.hwTitle {
    padding-bottom: 30px;
    margin-top: 50px;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;

    border-bottom: 1px solid #D9D9D9;

    color: #000000;

}